@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --color-brand-50: #f9ffff;
  --color-brand-100: #e0f7fa;
  --color-brand-200: #b2ebf2;
  --color-brand-300: #80cbc4;
  --color-brand-400: #a5d6a7;
  --color-brand-500: #81c784;
  --color-brand-600: #66bb6a;
  --color-brand-700: #4caf50;
  --color-brand-800: #2e7d32;
  --color-brand-900: #1b4332;
  --color-brand-950: #0d2818;
}

body {
  background-color: var(--color-brand-50);
}